@{
    ViewBag.Title = "Client Index";
}

<div id="client-view">

    <div class="row">
        <div class="col-sm-8 media-normal">

            <div class="panel panel-info">
                <div class="panel-heading"> Current CoOp lists </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Mining Project</h4>
                                <p>	
                                    Perhaps display some quick stats about the current state of the project 
                                    here, stats from the sensors in the equipment, etc.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment-1.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Mining Project 1</h4>
                                <p>
                                    Perhaps display some quick stats about the current state of the project 
                                    here, stats from the sensors in the equipment, etc.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/space-mining.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Asteroid Mining</h4>
                                <p>
                                    Perhaps display some quick stats about the current state of the project 
                                    here, stats from the sensors in the equipment, etc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="panel panel-info">
                <div class="panel-heading">Staff Picks</div>
                <div class="panel-body">

                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Mining Project</h4>
                                <p>	
                                    Perhaps display some quick stats about the current state of the project 
                                    here, stats from the sensors in the equipment, etc.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment-1.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Mining Project 1</h4>
                                <p>
                                    Perhaps display some quick stats about the current state of the project 
                                    here, stats from the sensors in the equipment, etc.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/space-mining.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Asteroid Mining</h4>
                                <p>
                                    Perhaps display some quick stats about the current state of the project 
                                    here, stats from the sensors in the equipment, etc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">

            <div class="panel panel-info">
                <div class="panel-heading">Categories</div>
                <div class="panel-body">

                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <span class="badge">14</span>
                            Farm Equipment

                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">100</span>
                            Space Machines
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">23</span>
                            Autobots
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">12</span>
                            Construction
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">63</span>
                            Mining Equipment
                        </a>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>
