// select2
.select2-results .select2-highlighted {
  background: #e0f7fe !important;
  color: #00668f !important;
}

.select2-container {
  width: 100%;
  .select2-choice {
    height: 34px;
    line-height: 34px;
    outline: none;
    border: 1px solid #cccccc;
  }
}

.select2-container-active .select2-choice {
  outline: none;
  border: 1px solid #cccccc;
}

.select2-container-active .select2-choice:focus {
  border: none;
  outline: 0;
}

.select2-drop-active {
  border: 1px solid #cccccc;
}

.select2-container .select2-choice abbr {
  top: 11px;
}

.select2-container.form-control {
	padding: 0;
	border: none;
}