/* line 1, ../sass/overrides/_bootstrap.scss */
.modal-content {
  padding: 0 1.3em;
}

/* line 5, ../sass/overrides/_bootstrap.scss */
.modal-body {
  position: relative;
  padding: 20px;
}

/* line 10, ../sass/overrides/_bootstrap.scss */
.modal-header {
  color: #676767;
  font-size: 22px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 8px 20px;
  border-bottom: 2px solid #57b4da;
}
/* line 17, ../sass/overrides/_bootstrap.scss */
.modal-header span {
  font-weight: 200;
}

/* line 2, ../sass/overrides/_select2.scss */
.select2-results .select2-highlighted {
  background: #e0f7fe !important;
  color: #00668f !important;
}

/* line 7, ../sass/overrides/_select2.scss */
.select2-container {
  width: 100%;
}
/* line 9, ../sass/overrides/_select2.scss */
.select2-container .select2-choice {
  height: 34px;
  line-height: 34px;
  outline: none;
  border: 1px solid #cccccc;
}

/* line 17, ../sass/overrides/_select2.scss */
.select2-container-active .select2-choice {
  outline: none;
  border: 1px solid #cccccc;
}

/* line 22, ../sass/overrides/_select2.scss */
.select2-container-active .select2-choice:focus {
  border: none;
  outline: 0;
}

/* line 27, ../sass/overrides/_select2.scss */
.select2-drop-active {
  border: 1px solid #cccccc;
}

/* line 31, ../sass/overrides/_select2.scss */
.select2-container .select2-choice abbr {
  top: 11px;
}

/* line 20, ../sass/_constants.scss */
.table thead > tr > th.table-actions {
  padding-right: 48px !important;
}

/* line 25, ../sass/_constants.scss */
td.table-buttons {
  padding: 4px 12px 0 0 !important;
}
/* line 27, ../sass/_constants.scss */
td.table-buttons a {
  margin: 1px 0;
  padding: 3px 10px;
}
/* line 31, ../sass/_constants.scss */
td.table-buttons .btn-group {
  margin-left: 0;
  margin-right: 9px;
}

/* line 37, ../sass/_constants.scss */
.panel-heading {
  font-size: 110%;
}

/* line 41, ../sass/_constants.scss */
.fa {
  color: #3276b1;
}

/* line 45, ../sass/_constants.scss */
label {
  font-weight: inherit;
}

/* line 49, ../sass/_constants.scss */
.media-normal .media {
  margin-bottom: 10px;
}
/* line 51, ../sass/_constants.scss */
.media-normal .media img {
  width: 140px;
}
/* line 55, ../sass/_constants.scss */
.media-normal .media .media-body h4 {
  margin-top: 0;
}

/* line 61, ../sass/_constants.scss */
span.badge {
  margin-left: 7px;
  background-color: #3a87ad;
  padding: 5px 7px;
  vertical-align: middle;
}

@font-face {
  font-family: "Roboto";
  src: url("/Content/custom-fonts/Roboto-Regular-webfont.eot?");
  src: url("/Content/custom-fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/custom-fonts/Roboto-Regular-webfont.woff?") format("woff"), url("/Content/custom-fonts/Roboto-Regular-webfont.ttf?") format("truetype"), url("/Content/custom-fonts/Roboto-Regular-webfont.svg#Roboto") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

/* line 6, ../sass/main.scss */
body {
  padding-top: 100px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  overflow-x: hidden;
  background-color: #fcfcfc;
}

/* line 13, ../sass/main.scss */
nav .navbar-form {
  padding-right: 0;
  margin-right: -13px;
}
@media (max-width: 767px) {
  /* line 13, ../sass/main.scss */
  nav .navbar-form {
    padding-right: 15px;
  }
}
/* line 21, ../sass/main.scss */
nav .navbar-form a {
  margin-left: 5px;
}

/* line 26, ../sass/main.scss */
#logoutForm {
  display: inline-block;
}

/* line 5, ../sass/site/_index.scss */
#index .row:first-of-type > .col-sm-12:not(:first-of-type) .panel {
  display: none;
}
/* line 8, ../sass/site/_index.scss */
#index .row:first-of-type > .col-sm-12:not(:first-of-type) .panel .panel-body {
  height: 140px;
}
/* line 13, ../sass/site/_index.scss */
#index .panel-heading {
  text-align: center;
  font-size: 110%;
}
/* line 18, ../sass/site/_index.scss */
#index .media {
  margin-bottom: 10px;
}
/* line 20, ../sass/site/_index.scss */
#index .media img {
  width: 140px;
}
/* line 24, ../sass/site/_index.scss */
#index .media .media-body h4 {
  margin-top: 0;
}
/* line 31, ../sass/site/_index.scss */
#index #section-2 .panel-default {
  min-height: 55px;
}
/* line 33, ../sass/site/_index.scss */
#index #section-2 .panel-default h4 {
  text-align: center;
}
/* line 2, ../sass/site/_index.als.scss */
#index .als-container {
  position: relative;
  width: 100%;
  margin: 0px auto;
  z-index: 0;
}
/* line 9, ../sass/site/_index.als.scss */
#index .als-viewport {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
}
/* line 15, ../sass/site/_index.als.scss */
#index .als-wrapper {
  position: relative;
  list-style: none;
}
/* line 20, ../sass/site/_index.als.scss */
#index .als-item {
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
  float: left;
}
/* line 28, ../sass/site/_index.als.scss */
#index .als-prev, #index .als-next {
  position: absolute;
  cursor: pointer;
  clear: both;
}
/* line 36, ../sass/site/_index.als.scss */
#index #success-list .als-prev img, #index #success-list .als-next img {
  height: 42px;
  width: 42px;
}
/* line 41, ../sass/site/_index.als.scss */
#index #success-list .als-item {
  padding: 5px 10px;
}
/* line 43, ../sass/site/_index.als.scss */
#index #success-list .als-item img {
  width: 50px;
  height: 50px;
}
/* line 54, ../sass/site/_index.als.scss */
#index #categories-list .als-item {
  padding: 5px 10px;
}
/* line 57, ../sass/site/_index.als.scss */
#index #categories-list .als-item img {
  height: 80px;
}

/* line 5, ../sass/site/_signup.scss */
#signup .col-sm-2 {
  text-align: center;
}
