@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">Administator View</div>
            <div class="panel-body">
                <p>
                    Admin features are located to your left. Being a admin, you can do
                    what you want, when you want, how you want, all day long.
                </p>
            </div>
        </div>
    </div>
</div>