
@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {

    @Html.Bootstrap().Button().Text("Member Login").TriggerModal("modalId")
   
    @Html.ActionLink("Join Now", "Join", "Home", routeValues: null, 
        htmlAttributes: new { @class = "btn btn-primary" })

}
