@model ABLeasing.Web.Models.Category


@using (var modal = Html.Bootstrap().Begin(new Modal().Id("deleteModal").Closeable()))
{
    

    

    
    @modal.Header("Member Login")
    using (modal.BeginBody())
    {
        
        <div class="alert alert-info">
            Are you sure you want to delete the category @Model.Name. This is irreversable.
        </div>
        
        using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            @Html.Bootstrap().SubmitButton().Text("Delete")

        }


    }
}

