@model ABLeasing.Web.Models.Lease



@using (var modal = Html.Bootstrap().Begin(new Modal().Id("deleteModal").Closeable()))
{
    
    @modal.Header("Delete Lease")
    using (modal.BeginBody())
    {
        
        <div class="alert alert-info">
            Are you sure you want to delete Lease: <strong>@Model.Name</strong>. This is irreversable.
        </div>
        
        using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            @Html.Bootstrap().SubmitButton().Text("Delete").Style(ButtonStyle.Primary)
        }
    }
}