@model ABLeasing.Web.Models.Equipment


@using (var modal = Html.Bootstrap().Begin(new Modal().Id("deleteModal").Closeable()))
{
    
    @modal.Header("Delete Equipment")
    using (modal.BeginBody())
    {
        
        <div class="alert alert-info">
            Are you sure you want to delete Equipment item @Model.Name. This is irreversable.
        </div>
        
        using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            @Html.Bootstrap().SubmitButton().Text("Delete").Style(ButtonStyle.Primary)
        }
    }
}

