
// this sass file should have all styles that both admin and main app should share.

@import "constants";

@include declare-font-face2('Roboto', "Roboto-Regular-webfont");

body {
	@include roboto;
	padding-top: 100px;
	overflow-x: hidden;
	background-color: $light-bg;
}

nav .navbar-form {
	padding-right: 0;
	margin-right: -13px;

	@include respond-to($tablet-portrait) {
		padding-right: 15px;
	}

	a {
		margin-left: 5px;
	}

	#logoutForm {
		display: inline-block;
	}

}



@media (min-width: 1200px) and (min-width: 992px) and (min-width: 768px) {
  .container {
	max-width: none;
	width: inherit;
  }
}
