
// this sass file should have all styles that both admin and main app should share.

@import "constants";

@include declare-font-face2('Roboto', "Roboto-Regular-webfont");

body {
	@include roboto;
	padding-top: 100px;
	overflow-x: hidden;
	background-color: $light-bg;
}

nav .navbar-form {
	padding-right: 0;
	margin-right: -13px;

	@include respond-to($tablet-portrait) {
		padding-right: 15px;
	}

	a {
		margin-left: 5px;
	}

	#logoutForm {
		display: inline-block;
	}

}

.nav {
	.fa-fw {
		margin-right: 5px;
	}
}

@mixin t-responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
}

.table-responsive {

	@include respond-to($tablet-landscape-desktop) {
		@include t-responsive;
	}
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	@include roboto;
}
