
@import "compass/css3";
@import "mixins";
@import "overrides/bootstrap";
@import "overrides/select2";

// variables
$light-border: 1px solid rgba(231, 231, 231, 0.6);
$rg-border: 1px solid rgba(0, 0, 0, 0.15);
$grey-border: 1px solid #c7c7c7;
$border: 1px solid #e7e7e7;
$light-bg: #FCFCFC;
$red: #bb133e;
$color-blue: #3276b1;
$red-error: #b94a48;



// style constants

span.required {
	color: $red-error;
	margin-left: 2px;
}

.table thead > tr > th.table-actions {
  padding-right: 48px !important;
 
}

td.table-buttons {
  padding: 4px 12px 0 0 !important;
  a {
	margin: 1px 0;
	padding: 3px 10px;
  }
  .btn .caret {
	margin-left: 5px;
  }

}
.table > thead tr th.table-buttons {
	text-align: right;
	padding-right: 29px;
}

th {
	font-weight: normal;
}

.panel-heading {
	font-size: 130%;
	font-weight: lighter;
}

.fa {
	color: $color-blue;
}

.active .fa {
	color: white;
}

.btn-primary .fa {
	color: white;
}

//label {
//	font-weight: inherit;
//}

.media-normal .media {
	margin-bottom: 10px;
	img {
		width: 140px;
	}
	.media-body {
		h4 {
			margin-top: 0;
		}
	}
}

.dropdown-menu li {
	cursor: pointer;
}



.page-header.header-button {
	padding-top: 15px;
	h1 {
		display: inline;
	}
	.btn {
		float: right;
		margin-bottom: 7px;
	}



}


span.badge {
  margin-left: 7px;
  background-color: #3a87ad;
  padding: 5px 7px;
  vertical-align: middle;
}

.validation-summary-errors ul, #login-errors {
	padding-left: 0;
	list-style: none;
	color: $red-error;
}

.field-validation-error {
	color: $red-error;
	font-size: 80%;
}

.table-responsive {
	padding-bottom: 50px;
}

.navbar-nav > li > a {
	font-size: 16px;
}