
@import "common";

.page-header {
	margin: 0 15px;
	padding: 0 0;
	font-size: 26px;
	h1 {
		color: #4D4D4D;
		font-size: 26px;
	}
}

.main > .row > .col-sm-9 {
	.panel-default {
		
	}
}



@import "admin/nav";