
@import "constants";

@include declare-font-face2('Roboto', "Roboto-Regular-webfont");

body {
	padding-top: 20px;
	@include roboto;
	overflow-x: hidden;
	background-color: $light-bg;
}

nav .navbar-form {
	padding-right: 0;
	margin-right: -13px;

	@include respond-to($tablet-portrait) {
		padding-right: 15px;
	}

	a {
		margin-left: 5px;
	}
}

#logoutForm {
	display: inline-block;
}

// here is where we import all of our css pages that map to visibility

@import "site/index";
@import "site/signup";
@import "site/section1";
@import "site/section2";
@import "site/contact";