#contact {
  padding-bottom: 0;
  .container {
    position: relative;
    z-index: 10;
  }
  form {
    overflow: hidden;
    text-align: center;
    .left {
      width: 100%;
      position: relative;
    }
    .btn {
      border: none;
    }
  }
  #map {
    width: 100%;
    height: 426px;
    display: block;
    margin-top: 40px;
  }
  .contact_info {
    width: 280px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
    box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
    position: absolute;
    top: 0;
    display: block;
    z-index: 100;
    left: 50%;
    top: -220px;
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -140px;
    dt {
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
    }
    dd a {
      color: #67727e;
    }
  }
  #order_now {
    background-color: #ff605a;
    padding: 90px 0 40px;
    display: block;
  }
}