/* SPRITES contact form */
.form-sprite, .form-email, .form-error, .form-message, .form-name, .form-phone {
  background: url('../images/form-s13b8ee05b4.png') no-repeat;
}

.form-email {
  background-position: 0 0;
  height: 46px;
  width: 49px;
}
.form-email:hover, .form-email.email_hover, .form-email.email-hover {
  background-position: 0 -3046px;
}

.form-error {
  background-position: 0 -6092px;
  height: 48px;
  width: 49px;
}

.form-message {
  background-position: 0 -9140px;
  height: 46px;
  width: 49px;
}
.form-message:hover, .form-message.message_hover, .form-message.message-hover {
  background-position: 0 -12186px;
}

.form-name {
  background-position: 0 -15232px;
  height: 46px;
  width: 49px;
}
.form-name:hover, .form-name.name_hover, .form-name.name-hover {
  background-position: 0 -18278px;
}

.form-phone {
  background-position: 0 -21324px;
  height: 47px;
  width: 49px;
}
.form-phone:hover, .form-phone.phone_hover, .form-phone.phone-hover {
  background-position: 0 -24371px;
}
/* --------------------------------------------------------------------------------------
+
+ FORMS
+
-------------------------------------------------------------------------------------- */
/* MAIN PART */
input[type="text"], input[type="email"], textarea {
  vertical-align: middle;
  border: 2px solid #d4d8de;
  color: #67727e;
  background-color: white;
  padding: 0 10px 0 65px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
  width: 100%;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:hover, input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus, textarea:hover, textarea:focus {
  background-color: #fff;
  border: 2px solid #1ed2d0;
}
input[type="text"].error, input[type="email"].error, textarea.error {
  background: url('../images/form/error.png') no-repeat 0 0;
  border: 2px solid #ff605a;
  color: #ff605a;
}
input[type="text"].error:hover, input[type="email"].error:hover, textarea.error:hover {
  background-position: 0 0;
}

input[type="text"], input[type="email"] {
  height: 48px;
  line-height: 48px;
}
.ie8 input[type="text"], .ie8 input[type="email"] {
  line-height: 43px;
}

textarea {
  resize: none;
  padding-top: 12px;
  min-height: 203px;
}
textarea.form-message {
  width: 100%;
}

label.error {
  color: #ff605a;
  position: absolute;
  left: 50px;
  margin-top: -32px;
}
#contact {
  padding-bottom: 0;
}
#contact .container {
  position: relative;
  z-index: 10;
}
#contact form {
  overflow: hidden;
  text-align: center;
}
#contact form .left {
  width: 100%;
  position: relative;
}
#contact form .btn {
  border: none;
}
#contact #map {
  width: 100%;
  height: 250px;
  display: block;
  margin-top: 40px;
}
#contact .contact_info {
  width: 280px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
  box-shadow: 0 1px 1px rgba(1, 1, 1, 0.2);
  position: absolute;
  top: 0;
  display: block;
  z-index: 100;
  left: 50%;
  top: -220px;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -140px;
}
#contact .contact_info dt {
  margin-top: 15px;
}
#contact .contact_info dt:first-child {
  margin-top: 0;
}
#contact .contact_info dd a {
  color: #67727e;
}
#contact #order_now {
  background-color: #ff605a;
  padding: 90px 0 40px;
  display: block;
}
/* SPRITES contact form */
.form-sprite, .form-email, .form-error, .form-message, .form-name, .form-phone {
  background: url('../images/form-s13b8ee05b4.png') no-repeat;
}

.form-email {
  background-position: 0 0;
  height: 46px;
  width: 49px;
}
.form-email:hover, .form-email.email_hover, .form-email.email-hover {
  background-position: 0 -3046px;
}

.form-error {
  background-position: 0 -6092px;
  height: 48px;
  width: 49px;
}

.form-message {
  background-position: 0 -9140px;
  height: 46px;
  width: 49px;
}
.form-message:hover, .form-message.message_hover, .form-message.message-hover {
  background-position: 0 -12186px;
}

.form-name {
  background-position: 0 -15232px;
  height: 46px;
  width: 49px;
}
.form-name:hover, .form-name.name_hover, .form-name.name-hover {
  background-position: 0 -18278px;
}

.form-phone {
  background-position: 0 -21324px;
  height: 47px;
  width: 49px;
}
.form-phone:hover, .form-phone.phone_hover, .form-phone.phone-hover {
  background-position: 0 -24371px;
}
#contact form .left {
    width: 324px;
  }
  #contact form .left.righ {
    float: right;
    text-align: right;
  }
  #contact #map {
    margin-top: 80px;
  }
  #contact .contact_info {
    width: 460px;
    margin-left: -230px;
    top: 50px;
	bottom: -10px;
  }
    #contact form .left {
    width: 459px;
  }