#new {
  background: #1ed2d0 url('/Images/Index/team_mask.png') no-repeat 50% 50%;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url('/Scripts/backgroundsize.htc');
  padding: 20px 40px 20px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  h2 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  //margin-bottom: 10px;
  line-height: 1.5;
  }
  h5 {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  //margin-bottom: 20px;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
}
#new {
		padding-bottom: 40px;
		.bx-wrapper {
			.slider2 {
				.slide {
					margin-top: 0;
					position: relative;
					a {
						width: 204px;
						height: 204px;
						@include border-radius(50%);
						// @include bs;
						background-origin:padding-box;
					}
					img {
						width: 204px;
						position: absolute;
						left: 50%;
						top: 50%;
						margin-top: -102px;
						margin-left: -102px;
					}
				}
			}
		}
		//.slider2_popups {
			//top: -20px;
			//position: relative;
			
			//.popup-item {
				//top: 20px;
				//h6 {
					//font-size: 20px;
					//display: inline-block;
					//padding: 0 15px 15px;
					//border-bottom: 1px solid #fff;
					//font-weight: 400;
				//}
				//p {
					//border: none;
					//margin-bottom: 0;
					//padding-bottom: 0;
				//}
				//.close {
					//position: absolute;
					//right: 20px;
					//top: 15px;
				//}
			//}
		//}
	}
	//.lightbox .lb-outerContainer {
		//max-height: 600px;
		//overflow: hidden;
	//}