#new {
  background: #1ed2d0 url('/Images/Index/team_mask.png') no-repeat 50% 50%;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-behavior: url('/Scripts/backgroundsize.htc');
  * {
    color: #fff;
  }

 .container {
	width: 900px;
    padding: 20px 40px 20px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 .container h2 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.5;
}
 .bx-wrapper {
  margin: 70px auto 70px;
  position: relative;
}
 .bx-wrapper .bx-pager {
  display: none;
}
 .bx-viewport {
  overflow: visible;
}
 .slide {
  text-align: center;
  margin-top: 29px;
  position: relative;
}
 .slide:first-child {
  margin-top: 0;
}
 .slide > a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 11px solid #fff;
  width: 204px;
  height: 204px;
  background-color: #fff;
  box-sizing: padding-box;
  display: block;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 0 15px;
  cursor: pointer;
}
 .slide > a img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  width: 204px;
}
 .slide > a i {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 204px;
  height: 204px;
  display: block;
  background: rgba(62, 77, 92, 0.5) url('/Images/Index/eye.png') no-repeat 50% 50%;
}
.ie8  .slide > a i {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  display: none;
}
 .slide > a:hover i {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  z-index: 400;
}
.ie8  .slide > a:hover i {
  display: block;
}
 .slide h5,  .slide p {
  margin-bottom: 75px;
}
 .slide .arrow_up {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  height: 16px;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background: url('/Images/Index/arrow_up.png') no-repeat 50% 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  zoom: 1;
}
 .slide .arrow_up1 {
	position: absolute;
	bottom: -60px;
	left: 0;
	width: 100%;
	height: 16px;
	visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    background: url('/Images/Index/arrow_up.png') no-repeat 50% 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    zoom: 1;
}
 .slide .arrow_up.active-arrow {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
 .slider2_popups {
  position: relative;
}
 .popup-item {
  position: absolute;
  top: 10px;
  left: 50%;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 280px;
  margin-left: -140px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #ff5f59;
  z-index: 500;
  padding: 20px;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}
 .popup-item.active-popup {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
 .popup-item * {
  color: #fff;
}
 .popup-item h6 {
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 15px;
}
 .popup-item p {
  padding: 15px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
 .popup-item b {
  display: inline-block;
  cursor: pointer;
  padding-left: 15px;
  background: url('/Images/Index/close.png') no-repeat 0 50%;
}
 .bx-controls-direction {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 26px;
  width: 100%;
}
 .bx-controls-direction a {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  width: 14px;
  height: 26px;
  display: block;
  position: absolute;
  top: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
 .bx-controls-direction a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
 .bx-controls-direction a.bx-prev {
  position: absolute;
  left: -65px;
  background: url('/Images/Index/arrowleft.png') no-repeat 0 0;
}
 .bx-controls-direction a.bx-next {
  position: absolute;
  right: -64px;
  background: url('/Images/Index/arrowright.png') no-repeat 0 0;
}

body:after {
  content: url('/Images/Index/close.png') url('/Images/Index/loading.gif') url('/Images/Index/prev.png') url('/Images/Index/next.png');
  display: none;
}


.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  background: url('Images/Index/mask.png') repeat 0 0;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100000000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  .lb-image {
    display: block;
    height: auto;
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
  }
  a img {
    border: none;
  }
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  margin: 0 auto;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.lb-container img {
  margin: 0 auto;
}


.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}


.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url('/Images/Index/loading.gif') no-repeat;
}


.lb-nav {
  position: absolute;
  bottom: -66px;
  left: 20px;
  height: 66px;
  width: 48px;
  z-index: 10;
}


.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}


.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.lb-prev:hover, .lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-prev {
  left: 0;
  float: left;
  background: url('/Images/Index/prev.png') 0 50% no-repeat;
}

.lb-next {
  right: 0;
  float: right;
  background: url('/Images/Index/next.png') 100% 50% no-repeat;
}

.lb-dataContainer {
  margin: 0 auto;
  height: 66px;
  line-height: 66px;
  background-color: #fff;
  *zoom: 1;
  width: 100%;
  position: relative;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.lb-data {
  color: #67727e;
  .lb-details {
    width: 80%;
    float: left;
    text-align: left;
    height: 66px;
    line-height: 66px;
    padding-left: 88px;
    color: #67727e;
    font-size: 16px;
  }
  .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
  }
  .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
  }
}

.lb-closeContainer {
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.lb-data .lb-close {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  background: url('/Images/Index/close1.png') top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  &:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}
}
#new {
		padding-bottom: 40px;
		.bx-wrapper {
			.slider2 {
				.slide {
					margin-top: 0;
					position: relative;
					a {
						width: 204px;
						height: 204px;
						@include border-radius(50%);
						// @include bs;
						background-origin:padding-box;
					}
					img {
						width: 204px;
						position: absolute;
						left: 50%;
						top: 50%;
						margin-top: -102px;
						margin-left: -102px;
					}
				}
			}
		}
		//.slider2_popups {
			//top: -20px;
			//position: relative;
			
			//.popup-item {
				//top: 20px;
				//h6 {
					//font-size: 20px;
					//display: inline-block;
					//padding: 0 15px 15px;
					//border-bottom: 1px solid #fff;
					//font-weight: 400;
				//}
				//p {
					//border: none;
					//margin-bottom: 0;
					//padding-bottom: 0;
				//}
				//.close {
					//position: absolute;
					//right: 20px;
					//top: 15px;
				//}
			//}
		//}
	}
	//.lightbox .lb-outerContainer {
		//max-height: 600px;
		//overflow: hidden;
	//}