<!-- Begin of  #contact -->
<div class="row">
    <div class="col-sm-12">
        <section id="contact">
            
            <div class="container">
                <div id="map"></div>
                <!-- Begin of  .contact_info -->
                <dl class="contact_info">
                    <dt><h6>Address</h6></dt>
                    <dd>
                        <span>Your Machine Co</span><br>
                        <span>800 West University Pkwy, Orem, UT 84058</span>
                    </dd>
                    <dt><h6>Email</h6></dt>
                    <dd>
                        <a href="mailto:ymco@ymco.com">ymco@ymco.com</a>
                    </dd>
                    <dt><h6>Phone</h6></dt>
                    <dd>
                        <span>1-000-000-0000</span>
                    </dd>
                </dl>
                <!-- End of .contact_info  -->

            </div>
            <!-- End of .container  -->
        </section>
        </div>
    </div>
