<section id="contact">
    <div class="container">
        <h2>Contact Us</h2>
        <p>This is Photoshop's version of lorem Ipsum proin gravida</p>
        <form action="form_data.php" method="post" novalidate class='contact-form'>
            <div class="left">
                <input type="text" placeholder='Name' class='form-name' name='name' id='name'>
                <input type="email" placeholder='Email' class='form-email' name='email' id='email'>
                <input type="text" placeholder='Phone' class='form-phone' name='phone' id='phone'>
            </div>
            <div class="left right">
                <textarea placeholder='Message' class='form-message' name='message' id='message'></textarea>
                <button class="btn lightgreen">Send Message</button>
            </div>
        </form>
    </div>
</section>
