<div class="row">
    <div class="col-sm-12">
        <section id="about">
            <div class="row-fluid working-process">
                <div class="wrapper clearfix">
                    <h2>How It Works</h2>
                    <div class="row-fluid">
                        <ul class="process-list">
                            <li>
                                <div class="proccess-box clearfix">
                                    <div class="polygon">
                                        <div class="ps-circle">
                                            <div class="ps-circle-text">
                                                <span class="step">STEP</span>
                                                <span class="number">1</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process-desc">
                                        <i class="fa fa-bullseye fa-3x"></i>
                                        <h5>REQUEST</h5>
                                        <p>Operator requests to lease equipment</p>
                                    </div>
                                    <div class="process-arrow">arrow</div>
                                </div>
                            </li>
                            <li>
                                <div class="proccess-box clearfix">
                                    <div class="polygon">
                                        <div class="ps-circle">
                                            <div class="ps-circle-text">
                                                <span class="step">STEP</span>
                                                <span class="number">2</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process-desc">
                                        <i class="fa fa-bolt fa-3x"></i>
                                        <h5>RAISE FUNDS</h5>
                                        <p>Clients contribute money towards the purchase of the requested equipment</p>
                                    </div>
                                    <div class="process-arrow">arrow</div>
                                </div>
                            </li>
                            <li>
                                <div class="proccess-box clearfix">
                                    <div class="polygon">
                                        <div class="ps-circle">
                                            <div class="ps-circle-text">
                                                <span class="step">STEP</span>
                                                <span class="number">3</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process-desc">
                                        <i class="fa fa-bullseye fa-3x"></i>
                                        <h5>GOAL REACHED</h5>
                                        <p>Enough money is raised to purchase equipment</p>
                                    </div>
                                    <div class="process-arrow">arrow</div>
                                </div>
                            </li>
                            <li>
                                <div class="proccess-box clearfix">
                                    <div class="polygon">
                                        <div class="ps-circle">
                                            <div class="ps-circle-text">
                                                <span class="step">STEP</span>
                                                <span class="number">4</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process-desc">
                                        <i class="fa fa-bolt fa-3x"></i>
                                        <h5>EQUIPMENT LEASED</h5>
                                        <p>Lease is drawn up and a purchase co-op is formed</p>
                                    </div>
                                    <div class="process-arrow">arrow</div>
                                </div>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </section>
    </div>
    </div>
