<!-- Begin of #new  -->
<div class="row">
    <div class="col-sm-12">
        <section id="new">
                <h2>New</h2>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor. Sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                <!-- Begin of  .slider2 -->
                <div class="slider2">
                    <div class="slide">
                        <a class='no2'>
                            <img src="~/Images/Index/rsz_mining1.jpg" alt="">
                            <i></i>
                        </a>
                        <h5>Mining Equipment</h5>
                        <div class="arrow_up no2"></div>
                    </div>
                    <div class="slide">
                        <a class='no3'>
                            <img src="~/Images/Index/rsz_mining3.jpg" alt="">
                            <i></i>
                        </a>
                        <h5>Astroid Mining</h5>
                        <div class="arrow_up1 no3"></div>
                    </div>
                    <div class="slide">
                        <a class='no4'>
                            <img src="~/Images/Index/rsz_tractor-farming.jpg" alt="">
                            <i></i>
                        </a>
                        <h5>Monica Tadder</h5>
                        <div class="arrow_up1 no4"></div>
                    </div>
                    <div class="slide">
                        <a class='no5'>
                            <img src="~/Images/Index/rsz_mining1.jpg" alt="">
                            <i></i>
                        </a>
                        <h5>François Martin</h5>
                        <div class="arrow_up1 no5"></div>
                    </div>
                    <div class="slide">
                        <a class='no6'>
                            <img src="~/Images/Index/rsz_tractor-farming.jpg" alt="">
                            <i></i>
                        </a>
                        <h5>Fernando Vicente</h5>
                        <div class="arrow_up1 no6"></div>
                    </div>
                </div>
                <!-- End of .slider2  -->
                <!-- Begin of  .slider2_popups -->
                <div class="slider2_popups">
                    <div class="popup-item no1">
                        <h6>Some facts about Mining Equipment</h6>
                        <p>This is Photoshop's version  o f Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                        <b class="close">Close</b>
                    </div>
                    <div class="popup-item no2">
                        <h6>Some facts about Mining Equipment</h6>
                        <p>This is Photoshop's version  o f Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                        <b class="close">Close</b>
                    </div>
                    <div class="popup-item no3">
                        <h6>Some facts about Astroid Mining</h6>
                        <p>This is Photoshop's version  o f Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                        <b class="close">Close</b>
                    </div>
                    <div class="popup-item no4">
                        <h6>Some facts about Monica</h6>
                        <p>This is Photoshop's version  o f Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                        <b class="close">Close</b>
                    </div>
                    <div class="popup-item no5">
                        <h6>Some facts about François</h6>
                        <p>This is Photoshop's version  o f Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                        <b class="close">Close</b>
                    </div>
                    <div class="popup-item no6">
                        <h6>Some facts about Fernando</h6>
                        <p>This is Photoshop's version  o f Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                        <b class="close">Close</b>
                    </div>
                </div>
                <!-- End of .slider2_popups  -->
        </section>
        </div>
    </div>
        <!-- End of #team  -->
