
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">Categories</div>
                <div class="panel-body">
                    <div class="als-container" id="categories-list">
                        @*<span class="als-prev"><img src="~/Images/Index/left-arrow.png" alt="prev" title="previous" /></span>*@
                        <div class="als-viewport">

                            <div class="als-wrapper">
                                <div class="als-item">
                                    <img src="~/Images/Index/mining-icon.png" alt="Mining" title="Mining" />
                                </div>

                                <div class="als-item">
                                    <img src="~/Images/Index/tractor.png" alt="Farm" title="Farm" />
                                </div>

                                <div class="als-item">
                                    <img src="~/Images/Index/rocket.png" alt="Space" title="Space" />
                                </div>

                                <div class="als-item">
                                    <img src="~/Images/Index/heavy-equipment.png" alt="Constuction" title="Construction" />
                                </div>

                                <div class="als-item">
                                    <img src="~/Images/Index/mining-icon.png" alt="Mining" title="Mining" />
                                </div>

                                <div class="als-item">
                                    <img src="~/Images/Index/tractor.png" alt="Farm" title="Farm" />
                                </div>

                                <div class="als-item">
                                    <img src="~/Images/Index/rocket.png" alt="Space" title="Space" />
                                </div>

                                <div class="als-item">
                                    <img src="~/Images/Index/heavy-equipment.png" alt="Constuction" title="Construction" />
                                </div>

                            </div>
                        </div>
                        @*<span class="als-next"><img src="~/Images/Index/right-arrow.png" alt="next" title="next" /></span>*@
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">Phases</div>
                <div class="panel-body">
                    <div class="col-sm-4">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Phase 1</h4>
						        <p>	
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
						        </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Phase 2</h4>
						        <p>	
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
						        </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Phase 3</h4>
						        <p>	
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
						        </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">Success Stories</div>
                <div class="panel-body">
                    <div class="als-container" id="success-list">
                        @*<span class="als-prev"><img src="~/Images/Index/left-arrow.png" alt="prev" title="previous" /></span>*@
                        <div class="als-viewport">
                            <div class="als-wrapper">
                                <div class="als-item">
                                    <img src="~/Images/Index/lessee.jpg" />
                                </div>
                                <div class="als-item">
                                    <img src="~/Images/Index/lessee2.jpg" />
                                </div>
                                <div class="als-item">
                                    <img src="~/Images/Index/twitter.png" />
                                </div>
                                <div class="als-item">
                                    <img src="~/Images/Index/facebook.png" />
                                </div>
                            </div>
                        </div>
                        @*<span class="als-next"><img src="~/Images/Index/right-arrow.png" alt="next" title="next" /></span>*@
                    </div>
                </div>
            </div>

        </div>
    </div>