<section id="about">

        <div class="container">
        <h2>How It Works</h2>
          <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor. Sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
          <ul>

            <li>
              <span class='icons-img1'></span>
              <h6>Web Development</h6>
              <p>Some of our services include web design, markup, coding, web server configuration and many more.</p>
            </li>
            <li>
              <span class='icons-img2'></span>
              <h6>App Development</h6>
              <p>Whichever handheld device you have, we’ll provide you with the right app for it. Let us know what you need!</p>
            </li>
            <li>
              <span class='icons-img3'></span>
              <h6>Branding</h6>
              <p>Our top-notch branding experts will make your product or service leave an impact on the client.</p>
            </li>
            <li>
              <span class='icons-img4'></span>
              <h6>Printing</h6>
              <p>We offer our clients only high quality printing, such as digital printing, litho printing, banner/flyer printing, etc.</p>
            </li>
          </ul><!-- end of list of services -->

        </div><!-- end of container in about section -->

      </section> <!-- end of about  -->