    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">Trending</div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Mining Project</h4>
                                <p>	
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                    nostrud exercitation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment-1.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Mining Project 1</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                    nostrud exercitation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/space-mining.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>Asteroid Mining</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">News</div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>News Title 1</h4>
                                <p>	
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                    nostrud exercitation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>News Title 2</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                    nostrud exercitation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment.jpg" />
                            </a>
                            <div class="media-body">
                                <h4>News Title 3</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 
                                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
