<div id="about">
<div id="container">
<div class="row-fluid working-process">
                <div class="wrapper clearfix">
                    <h2>How It Works</h2>
                    <div class="row-fluid">
                        <ul class="process-list">
                            <li>
                                <div class="proccess-box clearfix">
                                    <div class="polygon">
                                        <div class="ps-circle">
                                            <div class="ps-circle-text">
                                                <span class="step">STEP</span>
                                            <span class="number">1</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process-desc">
                                        <span class="icon-sitemap ps-icon"></span>
                                        <h5>DISCUSS</h5>
                                        <p>Sed pharetra orn lre ero uisqu epi utredg neque sit amet eros</p>
                                    </div>
                                    <div class="process-arrow">arrow</div>
                                </div>
                            </li>
                            <li>
                                <div class="proccess-box clearfix">
                                    <div class="polygon">
                                        <div class="ps-circle">
                                            <div class="ps-circle-text">
                                                <span class="step">STEP</span>
                                            <span class="number">2</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process-desc">
                                        <span class="icon-laptop ps-icon"></span>
                                        <h5>DESIGN & DEVELOPMENT</h5>
                                        <p>Sed pharetra orn lre ero uisqu epi utredg neque sit amet eros</p>
                                    </div>
                                    <div class="process-arrow">arrow</div>
                                </div>
                            </li>
                            <li>
                                <div class="proccess-box clearfix">
                                    <div class="polygon">
                                        <div class="ps-circle">
                                            <div class="ps-circle-text">
                                                <span class="step">STEP</span>
                                            <span class="number">3</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process-desc">
                                        <span class="icon-hand-right ps-icon"></span>
                                        <h5>DELIVER</h5>
                                        <p>Sed pharetra orn lre ero uisqu epi utredg neque sit amet eros</p>
                                    </div>
                                    <div class="process-arrow">arrow</div>
                                </div>
                            </li>
                             <li>
                                <div class="proccess-box clearfix">
                                    <div class="polygon">
                                        <div class="ps-circle">
                                            <div class="ps-circle-text">
                                                <span class="step">STEP</span>
                                            <span class="number">4</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="process-desc">
                                        <span class="icon-hand-right ps-icon"></span>
                                        <h5>DELIVER</h5>
                                        <p>Sed pharetra orn lre ero uisqu epi utredg neque sit amet eros</p>
                                    </div>
                                    <div class="process-arrow">arrow</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    
                            </div>
                         </div>
                    </div>
    </div>