<!-- Begin of #trending  -->
<div class="row">
    <div class="col-sm-12">
        <section id="trending">
                <h2>Trending</h2>
                <!-- Begin of  .slider2 -->
                <div class="slider2">
                    <div class="slide">
                        <a class='no2'>
                            <img src="~/Images/Index/rsz_mining1.jpg" alt="">
                            <i></i>
                        </a>
                        <div class="arrow_up no2"></div>
                        <div class="tml-content">
                            <h6>Mining Equipment</h6>
                            <p>Donec ermentum cursus nunc. Etiam erad esb ulum ac risus nec eros auctorege stas aecelns aliquam tellus sed magna. In iverra dolor non justo. Lorem ipsum dolor sit ame tconsec tetuer nam quis mauris unc volutpat elementum sapien. Nam et erat nec eros.</p>
                        </div>
                    </div>
                    <div class="slide">
                        <a class='no3'>
                            <img src="~/Images/Index/rsz_mining3.jpg" alt="">
                            <i></i>
                        </a>
                        <div class="arrow_up1 no3"></div>
                        <div class="tml-content">
                            <h6>Astroid Mining</h6>
                            <p>Donec ermentum cursus nunc. Etiam erad esb ulum ac risus nec eros auctorege stas aecelns aliquam tellus sed magna. In iverra dolor non justo. Lorem ipsum dolor sit ame tconsec tetuer nam quis mauris unc volutpat elementum sapien. Nam et erat nec eros.</p>
                        </div>
                    </div>
                    <div class="slide">
                        <a class='no4'>
                            <img src="~/Images/Index/rsz_tractor-farming.jpg" alt="">
                            <i></i>
                        </a>
                        <div class="arrow_up1 no4"></div>
                        <div class="tml-content">
                            <h6>Farming Equipment</h6>
                            <p>Donec ermentum cursus nunc. Etiam erad esb ulum ac risus nec eros auctorege stas aecelns aliquam tellus sed magna. In iverra dolor non justo. Lorem ipsum dolor sit ame tconsec tetuer nam quis mauris unc volutpat elementum sapien. Nam et erat nec eros.</p>
                        </div>
                    </div>
                    <div class="slide">
                        <a class='no5'>
                            <img src="~/Images/Index/rsz_mining1.jpg" alt="">
                            <i></i>
                        </a>
                        <div class="arrow_up1 no5"></div>
                        <div class="tml-content">
                            <h6>Mining Equipment</h6>
                            <p>Donec ermentum cursus nunc. Etiam erad esb ulum ac risus nec eros auctorege stas aecelns aliquam tellus sed magna. In iverra dolor non justo. Lorem ipsum dolor sit ame tconsec tetuer nam quis mauris unc volutpat elementum sapien. Nam et erat nec eros.</p>
                        </div>
                    </div>
                    <div class="slide">
                        <a class='no6'>
                            <img src="~/Images/Index/rsz_tractor-farming.jpg" alt="">
                            <i></i>
                        </a>
                        <div class="arrow_up1 no6"></div>
                        <div class="tml-content">
                            <h6>Farming Equipment</h6>
                            <p>Donec ermentum cursus nunc. Etiam erad esb ulum ac risus nec eros auctorege stas aecelns aliquam tellus sed magna. In iverra dolor non justo. Lorem ipsum dolor sit ame tconsec tetuer nam quis mauris unc volutpat elementum sapien. Nam et erat nec eros.</p>
                        </div>
                    </div>
                </div>
                <!-- End of .slider2  -->
        </section>
        </div>
    </div>
        <!-- End of #team  -->
