@{
    ViewBag.Title = "Operators Index";
}


<div id="operator-apply">

    <div class="row">
        <div class="col-sm-8 media-normal">

            <div class="panel panel-info">
                <div class="panel-heading"> New Lease Application </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="media">
                            <div class="media-body">
                                <a class="btn btn-primary" href="/operatorsview/LeaseApplication">Apply now</a>
                                    Need a new machine to help expand your business? Submit a new lease application.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>

<div id="operator-view">

    <div class="row">
        <div class="col-sm-8 media-normal">

            <div class="panel panel-info">
                <div class="panel-heading"> My current leases </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="media">
                            <a class="pull-left">
                                <img src="~/Images/Index/mining-equipment.jpg" />
                            </a>
                            <div class="media-body">
                                <h4><a href="/operatorsview/LeaseDetails">Mining Project</a></h4>
                                <p>	
                                    Perhaps display some quick stats about the current state of the project 
                                    here, stats from the sensors in the equipment, etc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>