@{
    ViewBag.Title = "LeaseDetails";
}


<div id="lease-details">

    <div class="row">
        <div class="col-sm-8 media-normal">

            <div class="panel panel-info">
                <div class="panel-heading"> Lease Details </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="media">
                            <div class="media-body">
                                <br />
                                Total Number of Leasers: 113 <br />
                                Amount raised $11,450 / $15,000 <br />
                                Equipment: Tractor <br />
                                Location: Ghana <br />
                                Principal Amount: $400 <br />
                                Interest Rate: 12.9% <br />
                                Profitshare Rate: 20% <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>