

<div class="row">

    <div class="col-sm-12">

        <div class="panel panel-info">
            <div class="panel-heading text-center">Interested in Low Risk Investmests?</div>
            <div class="panel-body">
                <p>
                    Good job, you have reached the signup place. You are on your way to owning that piece of machinery 
                    you have always needed to make your buisness thrive.
                </p>

                <p>Or, you have reached the right place to join fellow smart investors to start making some money!</p>
            </div>
        </div>

    </div>

</div>


<div class="row">

    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">Clients</div>
            <div class="panel-body">
                <i class="fa fa-quote-left fa-2x pull-left fa-border"></i>
                Clients are an individual or a company that is interested in joining a Puchase Cooperative.
                These accounts are the driving force of Autobotleasing.com. They are the fund starters, the lease buyers
                and the money makers!
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">Operators</div>
            <div class="panel-body">

            </div>
        </div>

    </div>

</div>